body{
    margin:0;
    min-height:100vh;
    overflow:hidden;
    background:#000;
}

body::before{
    content:"";
    position:fixed;
    inset:-50%;
    background:
    radial-gradient(circle,#00ff88 0%,transparent 25%),
    radial-gradient(circle,#00aa44 0%,transparent 20%),
    radial-gradient(circle,#00ff44 0%,transparent 15%);
    filter:blur(120px);
    animation:nebula 18s linear infinite;
}

@keyframes nebula{
    0%{
        transform:translate(-10%,-10%) rotate(0deg);
    }

    50%{
        transform:translate(10%,10%) rotate(180deg);
    }

    100%{
        transform:translate(-10%,-10%) rotate(360deg);
    }
}
